	{% load static %}
    <!-- newsletter -->
	<div class="footer-top">
		<div class="container-fluid">
			<div class="col-sm-8 agile-leftmk">
				<h2>Just Click Your Order! We will deliver what you need.</h2>
				<p>Minimum Of ₱1000 For Free Delivery</p>
				<form action="#" method="post">
					<input type="email" placeholder="E-mail" name="email" required="">
					<input type="submit" value="Subscribe">
				</form>
			</div>
			<div class="col-sm-4 w3l-rightmk">
				<img src="{% static 'images/tab3.png' %}" alt="hands">
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!-- //newsletter -->