{% extends "admin/change_form.html" %}
{% block content %}

<div id="content-main">
    <fieldset class="module aligned">
        <h2>Customer Details</h2>
        <div class="form-row">
            <label for="a_cart">Cart No.</label>
            <input type="text" id="a_cart" value="{{cart.id}}" readonly/>
        </div>

        <div class="form-row">
            <label for="a_carts">Cart Status</label>
            <input type="text" id="a_carts" value="{{cart.get_status}}" readonly/>
        </div>

        <div class="form-row">
            <label for="a_cart1">Creation Date</label>
            <input type="text" id="a_cart1" value="{{cart.date_created}}" readonly/>
        </div>
    </fieldset>

    <fieldset class="module aligned">
        <h2>Shipping Details</h2>
        <div class="form-row">
            <label for="a_cart21">Customer</label>
            <input type="text" id="a_cart21" value="{{custname.last_name}},{{custname.first_name}}" readonly/>
        </div>

        <div class="form-row">
            <label for="a_cart22">Address</label>
            <textarea id="a_cart22" rows="10" cols="40" readonly>{{shipping.address}}</textarea>
        </div>

        <div class="form-row">
            <label for="a_cart12">Contact Number</label>
            <input type="text" id="a_cart12" value="{{shipping.contact}}" readonly/>
        </div>
    </fieldset> 

    <fieldset class="module aligned">
        <h2>Cart Items</h2>
        {% for item in cartItems %}
            <div class="form-row"><label for="{{item.id}}_prod">Product</label>
            <input type="text" id="{{item.id}}_prod" value="{{item.product.name}}" readonly/>
            <div class="help">{{item.product.price}} * {{item.qty}} pc(s)</div></div>
        {% endfor %}    
    </fieldset>
    
</div>

{% endblock %}